<a href="https://colab.research.google.com/github/Ilaharshith/Data-mining/blob/main/lab_08.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder,OneHotEncoder

Example data

In [ ]:
data={'Category':['A','B','C','A','B']}
df=pd.DataFrame(data)
print(df)

  Category
0        A
1        B
2        C
3        A
4        B

In [ ]:
label_encoder=LabelEncoder()
df['Label_Encoded']=label_encoder.fit_transform(df['Category'])
print(df)

  Category  Label_Encoded
0        A              0
1        B              1
2        C              2
3        A              0
4        B              1

In [ ]:
one_hot_encoder=pd.get_dummies(df['Category'], prefix='Category')
df=pd.concat([df,one_hot_encoder],axis=1)
print(df)

  Category  Label_Encoded  Category_A  Category_B  Category_C
0        A              0        True       False       False
1        B              1       False        True       False
2        C              2       False       False        True
3        A              0        True       False       False
4        B              1       False        True       False

In [ ]:
from datetime import datetime

In [ ]:
#Example data
data={'Name':['Alice','bob'],'Date_of_Birth':['1990-05-14','1985-08-23']}
df=pd.DataFrame(data)

In [ ]:
print(data)

{'Name': ['Alice', 'bob'], 'Date_of_Birth': ['1990-05-14', '1985-08-23']}

In [ ]:
#covert Data_of_birth to datetime
df['Date_of_birth']=pd.to_datetime(df['Date_of_Birth'])

In [ ]:
df['Date_of_Birth']

0    1990-05-14
1    1985-08-23
Name: Date_of_Birth, dtype: object

In [ ]:
current_year=datetime.now().year

In [ ]:
print(current_year)

2025

In [ ]:
#Calculate Age
current_year=datetime.now().year
df['Age']=current_year-pd.to_datetime(df['Date_of_Birth']).dt.year

In [ ]:
print(df)

    Name Date_of_Birth Date_of_birth  Age
0  Alice    1990-05-14    1990-05-14   35
1    bob    1985-08-23    1985-08-23   40